<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{%static 'home.css' %}"> -->
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="" target="_blank">
        <strong class="blue-text">Solo</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{%url 'home:home'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link waves-effect" href="#"
              target="_blank">Free</a>
          </li>
 
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
              <i class="fab fa-github mr-2">
                <form class="form-inline my-2 my-lg-0" action="{%url 'home:search'%}">
                  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </i>
          </li>
        </ul>

      </div>

    </div>
  </nav>


</div>
</div>
{%block content%}
{%endblock%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
</script>
<script>
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
beforeSend: function(xhr, settings) {
if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
xhr.setRequestHeader("X-CSRFToken", csrftoken);
}
}
});
      $('a.item-btn').click(function(e){
          e.preventDefault();
          console.log('good')
            $.post('{%url "home:detail_category"%}',
            {  
            slug: $(this).data('slug')
            },
            function(data){
                var products = data['products']
                var categories = data['categories']

                console.log(products)
                console.log(categories)
                if(products){
                    $('.wanted-div').remove()
                    $.each(JSON.parse(products), function (i, val) {
                      var cat=''
                      $.each(JSON.parse(categories),function(i,cat_val){
                        console.log('lol')
                        console.log(cat_val.pk,'cat_val')
                        console.log(val.fields.category)
                        if(val.fields.category==cat_val.pk){
                          cat = cat_val.fields.name
                          console.log(cat,'hey')
                        }
                })
                console.log(cat,'cat')
                    $('.fadeIn').append("<div class='col-lg-3  mb-4 wanted-div'><div class='card wanted-card'><div class='view overlay'><img height='300' width='220' src='http://127.0.0.1:8000/media/"+val.fields.image+"'><a><div class='mask rgba-white-slight'></div> </a></div><div class='card-body text-center'><a href='http://127.0.0.1:8000/product/"+val.fields.slug+"/' class='grey-text'><h5 id='cat-title'>'"+val.fields.title+"'</h5></a><h5><strong><a href='' class='dark-grey-text'>"+cat+"</a></strong></h5><h4 class='font-weight-bold blue-text'><strong>"+val.fields.price+"</strong></h4></div></div></div>");
                    console.log('http://127.0.0.1:8000/src/media/'+val.fields.image,'lol')
                    console.log('http://127.0.0.1:8000/media/images/india-gate-basmati-rice-premium-500x500.jpg')
                    })
                }
            
            
                // /home/hany/Desktop/Dev/E-commerce/src/media/images/india-gate-basmati-rice-premium-500x500.jpg
            
            
                // src/media/images/india-gate-basmati-rice-premium-500x500.jpg
            
            
            
            
            }
            )
      })
  </script>
</body>
</html>