
{% extends 'base.html'  %}
{%block content%}
  <div style="margin-top: 70px;" class="container-fluid">


    <div class="row">
        
      <!-- <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-info cat"><h4><i class="fa fa-bars" aria-hidden="true"></i> CATEGORIES</h4></a>
        <a href="#" class="btn btn-default"><h4>ABOUT</h4></a>
        <a href="#" class="btn btn-default"><h4>RETURNS</h4></a>
        <a href="#" class="btn btn-default"><h4>DELIVERY</h4></a>
      </div> -->
      
      <div class="col-3 shop-tab-container">
        <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shop-tab-menu"> -->
          {%include 'sidebar.html'%}
        </div>
        <div class="col-9 main-content">  
                <main>
                    {%if sub_categories%}
                      <div class="hold-cat" style="display: flex;">
                        {%for cat in sub_categories %}
                        <a href="#"  class="item-btn categories" data-slug="{{ cat.slug }}">
                            <ul class="cat-menu">
                                <li style="float: left;
                                list-style: none;
                                 border: 1px solid aqua; background-color: #00ffd5;
                                 border-radius: 5px;
                                  width: 70px;
                                  text-align: center;
                                  margin-top: 5px;margin-bottom: 5px;
                                  height: 35px;padding-top: 3px;" class="cat-item">{{cat}}</li>
                            </ul>
                        </a>
                        {%endfor%}
                      </div>
                    {%endif%}
                    <div class="container">
                
                      <!--Navbar-->
                      <!--/.Navbar-->
                
                      <!--Section: Products v.3-->
                      <section class="text-center mb-4">
                
                        <!--Grid row-->
                        <div class="row wow fadeIn">
                
                          <!--Grid column-->
                          {%for product in products%}
                          <div class="col-lg-3  mb-4 wanted-div">
                
                            <!--Card-->
                            <div class="card wanted-card">
                
                              <!--Card image-->
                              <div class="view overlay">
                                <img width="300" height="300" src="{{product.image.url}}" class="card-img-top" alt="">
                                <a>
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                              <!--Card image-->
                
                              <!--Card content-->
                              <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="{%url 'home:product_detail' product.slug%}" class="grey-text">
                                  <h5 id='cat-title'>{{product.title}}</h5>
                                </a>
                                <h5>
                                  <strong>
                                    <p class="dark-grey-text">{{product.category}}</p>
                                  </strong>
                                </h5>
                
                                <h4 class="font-weight-bold blue-text">
                                  <strong>{{product.price}}</strong>
                                </h4>
                
                              </div>
                              <!--Card content-->
                
                            </div>
                
                          </div>
                          {%endfor%}
         
                
                        </div>

                
                      </section>
                
                    </div>
                  </main>
            </div>
  
          </div>
            
          </div>
          
      </div>
      </div>
  </div>
{%endblock%}